html {
    background-image: linear-gradient(135deg, #F72525 0%, #F72525 33%, #9F9F9F 50%, #316CFF 66%, #316CFF 100%);
    background-repeat: repeat-x;
    background-position: center;
}

@font-face{
    font-family:ME;
    src:url("fonts/me123.ttf");
}

/*Header customization*/
header {
    font-family: ME, Helvetica, sans-serif;
    text-align: center;
    padding: 0 0 1em 0;
}

/*body customization*/
body {
    background-color: #D9D9D9;
    width:96%;
    max-width: 1003px;
    margin: 9.97% auto;
}

h1,
h2,
h3 {
    color: #0004BC;
}

/*Section Customization*/
section {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 66%;
    margin-left: 4.99%;
    margin-bottom: 2em;
    padding-bottom: 3em;
}

section h2 {
    text-align: center;
}

section p {
    margin: 1.5em;
}

section img {
    width: 50%;
    max-width: 900px
}

/*Centers Images*/
.center {
    display: block;
    margin: 0 auto;
}


/*aside customization*/
aside {
    width: 19.89%;
    padding:0 2em 0 2em;
    float: right;
}

/*List customization*/
#nav_menu ul {
    font-size: 100%;
    text-align:center;
    list-style: none;
    position: relative; 
}

#nav_menu ul li{
    border: 1px solid black;
    margin-bottom: 1em;
    background-color: white; 
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
}

#nav_menu ul li.current{
    background-color: silver;
}


#nav_menu li>a {
    color: #0004BC;
}

#nav_menu a:hover{
    color: #B402D5;
}

#nav_menu a:visited {
    color: #DC3333
}

/*footer section*/
footer {
    clear: both;
    padding-top: 5em;
}

footer p {
    text-align: center;
}

@media only screen and (max-width:814px) {
    section{
        width: 96%;
        max-width: 800px;;
        float:none;
        margin: auto auto;
        
    }
    aside{
        width: 85%;
        float:none;
        display: flex;
        flex-direction: column;
    }

}