* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ME;
    src: url("../fonts/me123.ttf");
}


html {

    background-image: linear-gradient(135deg, #F72525 0%, #F72525 33%, #9F9F9F 50%, #316CFF 66%, #316CFF 100%);
    background-repeat: repeat-x;
    background-position: center;
}

/*Header customization*/
header {
    font-family: ME, Helvetica, sans-serif;
    text-align: center;
    padding: 0 0 2em 0;
}

header img {
    width: 100%;
    max-width: 250px;
}

#thumbs_up {
    padding-top: 2em;
}

header blockquote {
    font-style: italic;
}

/*body customization*/
body {
    background-color: #D9D9D9;
    width: 96%;
    max-width: 1003px;
    margin: 9.97% auto;
}
main{
    display: grid;
    grid-template: auto/80% 20%;
}

h1,
h2,
h3 {
    color: #0004BC;
}

/*modifications for the sections*/
section {
    border: 3px solid black;
    width: 80%;
    margin: auto;
}

section h2 {
    text-align: center;
    justify-items: stretch;
}

#history::first-letter {
    font-size: 200%;
}

section p {
    margin: 1.5em;
}

#citadel {
    width: 100%;
    max-width: 250px;
    float: left;
    margin: 1em;
}

/*aside customization*/
aside img{
    width:80%;
    max-width: 150px;
    padding-top: 1em;
}

/*navigation customization*/
nav {
    width: 100%;
    padding: 0 2em 5em 2em;
}

/*List customization*/
#nav_menu ul {
    font-size: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

#nav_menu ul li {
    border: 1px solid black;
    margin-bottom: 1em;
    margin-right: 1em;
    padding-left: 1em;
    float: left;
    width: 20.5%;
    background-color: white;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
}

#nav_menu ul li.current {
    background-color: silver;
}


#nav_menu li>a {
    color: #0004BC;
}

#nav_menu a:hover {
    color: #B402D5;
}

#nav_menu a:visited {
    color: #DC3333
}

/*footer section*/
footer {
    clear: both;
    padding-top: 5em;
}

footer p {
    text-align: center;
}

@media only screen and (min-width:1500px) {

    body {
        max-width: 1500px;
    }

    #nav_menu ul li {
        width: 22%;
    }

    section p {
        font-size: 120%;
    }

}

@media only screen and (max-width:1000px) {

    nav {
        width: 80%;
        float: none;
        padding-bottom: 30%;
        padding-left: 1em;
        margin: auto;
    }

    #nav_menu ul {
        list-style-type: none;
    }

    #nav_menu ul li {
        width: 100%;
    }

}

@media only screen and (max-width:959px) {

    nav {
        padding-bottom: 35%;
    }
}

@media only screen and (max-width:824px) {

    nav {
        padding-bottom: 36%;
    }

    #citadel {
        float: none;
        display: block;
        margin: 1em auto;
        max-width: 350px;
        max-height: 250px;
    }
}

@media only screen and (max-width:803px) {

    main{
       display: inline;
    }
    nav {
        padding-bottom: 36%;
    }
    aside h3{
        text-align: center;
        padding-top: 5%;
    }
    aside img{
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width:802px) {

    nav {
        padding-bottom: 37%;
    }
}

@media only screen and (max-width:780px) {
    nav {
        padding-bottom: 40%;
    }

    #citadel {
        max-width: 300px;
    }
}
@media only screen and (max-width:724px) {
    nav {
        padding-bottom: 43%;
    }
}
@media only screen and (max-width:673px) {
    nav {
        padding-bottom: 45%;
    }
}
@media only screen and (max-width:644px) {
    nav {
        padding-bottom: 48%;
    }
}
@media only screen and (max-width:605px) {
    nav {
        padding-bottom: 50%;
    }
}
@media only screen and (max-width:581px) {
    nav {
        padding-bottom: 52%;
    }
}
@media only screen and (max-width:559px) {
    nav {
        padding-bottom: 55%;
    }
}
@media only screen and (max-width:515px) {
    nav {
        padding-bottom: 58%;
    }

}
@media only screen and (max-width:488px) {
    nav {
        padding-bottom: 60%;
    }

}
@media only screen and (max-width:472px) {
    nav {
        padding-bottom: 63%;
    }

}
@media only screen and (max-width:449px) {
    nav {
        padding-bottom: 65%;
    }

}
@media only screen and (max-width:436px) {
    nav {
        padding-bottom: 68%;
    }

}
@media only screen and (max-width:416px) {
    nav {
        padding-bottom: 70%;
    }

}
@media only screen and (max-width:404px) {
    nav {
        padding-bottom: 73%;
    }

}
@media only screen and (max-width:394px) {
    #citadel {
       max-width: 250px;
    }

}
@media only screen and (max-width:388px) {
    nav {
        padding-bottom: 75%;
    }

}
@media only screen and (max-width:377px) {
    nav {
        padding-bottom: 78%;
    }

}
@media only screen and (max-width:363px) {
    nav {
        padding-bottom: 80%;
    }

}
@media only screen and (max-width:354px) {
    nav {
        padding-bottom: 83%;
    }

}
@media only screen and (max-width:341px) {
    nav {
        padding-bottom: 85%;
    }

}
@media only screen and (max-width:333px) {
    nav {
        padding-bottom: 88%;
    }
    #citadel{
        max-width: 200px;
    }

}
@media only screen and (max-width:323px) {
    nav {
        padding-bottom: 90%;
    }

}
@media only screen and (max-width:314px) {
    nav {
        padding-bottom: 93%;
    }

}
@media only screen and (max-width:304px) {
    nav {
        padding-bottom: 95%;
    }

}
@media only screen and (max-width:299px) {
    nav {
        padding-bottom: 98%;
    }

}
@media only screen and (max-width:290px) {
    nav {
        padding-bottom: 100%;
    }

}
@media only screen and (max-width:283px) {
    nav {
        padding-bottom: 103%;
    }

}
@media only screen and (max-width:275px) {
    nav {
        padding-bottom: 105%;
    }

}
@media only screen and (max-width:269px) {
    nav {
        padding-bottom: 108%;
    }

}
@media only screen and (max-width:262px) {
    nav {
        padding-bottom: 110%;
    }
    #citadel{
        max-width: 150px;
    }

}
@media only screen and (max-width:243px) {
    nav {
        padding-bottom: 113%;
    }

}